/* Site-wide Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

/* Typography */
h1, h2 {
    font-family: 'Roboto Slab';
    font-size: 30px;
}
body {
    font-family: 'Arial';
    font-size: 30px;
    width: 480px;
}
ul, ol {
    list-style: none;
}
.boldGreen {
    font-weight: bold;
    color: #28b6a4;
}
.asideText {
    font-weight: italic;
    font-size: 20px;
    color: #CCC;
}

/* Input Styling */
input[type="checkbox"] {
    padding: 5px; 
    border: 2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 2px;
    background-color: #28b6a4;
    color: #FFFFFF;
    font-size: 25px;
}
.backButton input[type="submit"] {
    background-color: #666;
    float: left;
    margin-right: 45px;
}

/* Intro Page */
#intro {
    text-align: center;
    padding-bottom: 25px;
}
#intro img {
    align-content: center;
}
#emailsignup {
    background-color: #E2E2E2;
    padding: 25px 25px;
}