/* Site-wide Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

/* Typography */
h1, h2 {
    font-family: 'Roboto Slab';
    font-size: 1em;
}
body {
    font-family: 'Arial';
    font-size: 30px;
    line-height: 1;
    width: 100%;
}
ul, ol {
    list-style: none;
}
.boldGreen {
    font-weight: bold;
    color: #28b6a4;
}
.asideText {
    font-weight: italic;
    font-size: .70em;
    color: #CCC;
}

/* Input Styling */
input[type="checkbox"] {
    padding: 5px; 
    border: 2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 2px;
    background-color: #28b6a4;
    color: #FFFFFF;
    font-size: .85em;
}
.backButton input[type="submit"] {
    background-color: #666;
    float: left;
    margin-right: 45px;
}

/* Intro Page */
#intro {
    text-align: center;
    padding-bottom: 25px;
}
#intro img {
    align-content: center;
}
#emailsignup {
    background-color: #E2E2E2;
    padding: 25px 25px;
}

/* Secret Signal */
#secretSignalHere {
    background-color: #E2E2E2;
    height: 600px;
    padding: 100px 20px 0;
}
#secretSignalFound {
    background-color: #15a738;
    height: 600px;
    padding: 100px 20px 0;
}
#secretSignalHere p, #secretSignalFound p {
    text-align: center;
    margin-bottom: 50px;
}
#secretSignalFound p {
    color: #96f2ac;
    margin-bottom: 100px;
}
.hereButton {
    background: #15a738;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}
.foundYouText {
    font-family: "Roboto Slab";
    text-align: center;
    color: #FFF;
    font-size: 2em;
}
.hereText {
    font-family: "Roboto Slab";
    color: #FFF;
    font-size: 1.3em;
    width: 100%;
    padding-top: 80px;
    padding-left: 20px;
}